.navigation {
  .control-button {
    position: fixed;
    z-index: 99;
    border-radius: 4px;
    background: #fff;
    box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);

    &:hover {
      cursor: pointer;
      background: #f2f2f2;
    }
  }

  .toggle-elevation {
    top: 120px;
    right: 10px;
  }

  .elevation-profile-wrapper {
    position: fixed;
    bottom: 0;
    height: 200px;
    left: 0;
    right: 0;
    z-index: 100;
    background: white;
  }

  .speed-wrapper,
  .altitude-wrapper {
    display: none;
  }

  .mapboxgl-ctrl-top-right {
    top: 0 !important;
  }
}

.is-phone,
.is-tablet {
  .navigation {
    .control-button {
      width: 60px;
      height: 60px;
    }

    .toggle-elevation {
      top: 180px;
      right: 10px;
    }

    .speed-wrapper,
    .altitude-wrapper {
      position: fixed;
      right: 10px;

      z-index: 99;
      width: 60px;

      font-weight: 900;
      font-size: 20px;
      text-shadow: 0px 0px 2px white;
      -webkit-text-stroke-width: 0.7px;
      -webkit-text-stroke-color: white;

      .unit {
        font-size: 10px;
        -webkit-text-stroke-width: 0.1px;
      }
    }

    .speed-wrapper {
      top: 250px;
    }

    .altitude-wrapper {
      top: 300px;
    }
  }
}
