.side-bar {
  width: 280px;
  padding: 16px 0;
  background: #fff;
  overflow: auto;

  h2 {
    margin: 0;
    padding: 0 26px;
    margin-bottom: 8px;
  }

  .navigationGpx {
    margin-bottom: 32px;

    input {
      margin-top: 8px;
      margin-left: 26px;
      margin-right: 26px;
    }
  }

  .routes {
    .route {
      border-bottom: 1px solid #eaeaea;
      padding: 16px 26px;
      cursor: pointer;

      &:hover,
      &.is-selected {
        background: #f5f5f5;
      }

      .name {
        font-size: 17px;
        font-weight: 600;
        margin-bottom: 8px;
      }

      .distance,
      .min-elevation,
      .max-elevation {
        label {
          color: #666;
          width: 70px;
          font-size: 13px;
          font-weight: 400;
        }

        font-size: 15px;
        font-weight: 400;
      }

      .actions {
        margin-top: 16px;
      }
    }
  }
}

.is-phone,
.is-tablet {
  .side-bar {
    flex-direction: row !important;
    width: 100%;
    padding: 0;

    .navigationGpx {
      margin-bottom: 0;
      width: 200px;
      padding-top: 12px;

      h2 {
        font-size: 16px;
      }

      input {
        margin-top: 8px;
        margin-left: 26px;
        margin-right: 26px;
      }

      border-right: 1px solid #eaeaea;
    }

    .routes {
      flex-direction: row !important;

      h2 {
        display: none;
      }

      .route {
        border-bottom: none;
        width: 260px;
        height: 160px;

        &:not(:last-child) {
          border-right: 1px solid #eaeaea;
        }

        &:hover {
          background: unset;
        }

        &.is-selected {
          background: #f5f5f5;
        }

        .actions {
          margin-top: auto;
        }
      }
    }
  }
}
