#map {
  position: relative;
  overflow: hidden;
  z-index: 2;

  .mapboxgl-canvas {
    position: static;
  }

  // .mapboxgl-ctrl-scale {
  //   position: fixed;
  //   right: 10px;
  //   bottom: 20px;
  //   font-size: 12px;
  // }
}

// .is-phone,
// .is-tablet {
//   #map {
//     .mapboxgl-ctrl-scale {
//       position: fixed;
//       right: 15px;
//       bottom: 35px;
//       font-size: 12px;
//     }
//   }
// }
